@media screen {
  #printSection{
    display:none;
  }
}
@media print{
  body *{
    visibility: visible;
  }
  #printSection, #printSection *{
    visibility: visible;
  }
  #printSection{
    position: absolute;
    left: 0;
    top: 0;
  }
}